.component_div {
    width: 100%;
}

.container {
    position: relative;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.select {
    cursor: pointer;
    font-size: x-large;
    font-weight: 800;
    width: 40%;
    text-align: center;
    outline: none;
    padding: 1rem;
}

@media only screen and (max-width: 540px) {
    .container {
        position: relative;
        top: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .component_div {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select {
        width: 100%;
        border-radius: 10px;
        outline: none;
    }
}