.nav{
    font-size: xx-large ;
    width: 100%;
    padding: 1rem;
    background-color: black;
}

@media only screen and (max-width: 720px) { 
    .nav{
        text-align: center;
        top: 0%;
        left: 0%;
    }
    nav h3{
        font-size: large;
    }
}
