.nav{
    font-size: xx-large ;
    width: 100%;
    padding: 2rem;
}

@media only screen and (max-width: 540px) { 
    .nav{
        font-size: xx-large;
        text-align: center;
        top: 15%;
        left: 0%;

    }
}
